@import "./shared/defs.less";
@import "./shared/font_sizing.less";
@import "./shared/slider.less";

.audio-player {
    position: fixed;
    display: block;
    z-index: 1000000000;

    &.spawned {
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    background-color: white;
    border: 1px solid #333;

    .rounded-border();
    .drop-shadow-s();

    & > * {
        width: 100%;
        box-sizing: border-box;
    }

    .main-content 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .styled-slider(300px, 7px * @ui-scale, 7px * @ui-scale);

        &.hidden {
            display: none;
        }
    
        .play-time {
            margin: 5px;
            text-wrap: nowrap;
            .select-none();
            .font-small();
        }
    
        .generating-indicator {
            display: flex;
    
            margin: @button-margin;
            height: @button-size;
            min-width: @button-size;
            flex: 0 0 auto;
    
            box-sizing: border-box;
            margin-right: @button-margin / 2;
    
            svg
            {
                width: 100%;
                height: 100%;
                transform: rotate(-90deg);
    
                .circle-bg {
                    fill: none;
                    stroke: #e6e6e6;
                    stroke-width: 10%;
                }
        
                .circle-progress {
                    fill: none;
                    stroke: #3498db;
                    stroke-width: 10%;
                    stroke-linecap: round;
                    transition: stroke-dashoffset 0.1s linear;
                }
            }
        }
    }

    .hidden-content {

    }

    .dropdown-button {

    }
}