@import "./shared/defs.less";
@import "./shared/font_sizing.less";
@import "./shared/slider.less";

.audio-player {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000000;
    padding: 10px;

    &.spawned {
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    background-color: white;
    border: #333;

    .rounded-border();
    .drop-shadow-s();

    
    .styled-slider(300px, 7px, 7px);

    &.hidden {
        display: none;
    }

    .play-time {
        margin: 5px;
        text-wrap: nowrap;
        .select-none();
        .font-small();
    }
}