@import "./shared/defs.less";

.bible-chapter li {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.bible-chapter li:hover {
    background-color: rgb(229, 229, 229);
}

.selected {
    color: blueviolet;
}

.chapter-button {
    @chapter-button-height: calc(10vh + 20vh * @ui-scale);

    display: block;
    position: fixed;
    width: 10px + @content-margin;
    height: @chapter-button-height;
    top: calc(50vh - @chapter-button-height / 2);
    padding: 0px;
}

.chapter-button.previous {
    left: 5px;
}

.chapter-button.next {
    right: 5px;
}

.chapter-button img {
    width: 100% - 2px;
    aspect-ratio: 1 / 1;
    margin: 0px;
}