.bible-chapter li {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.bible-chapter li:hover {
    background-color: rgb(229, 229, 229);
}

.bible-word {
    user-select: none;
    display: inline-block;
}

.bible-space {
    user-select: none;
    display: inline-block
}

.selected {
    color: blueviolet;
}