.bible-chapter li {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.bible-chapter li:hover {
    background-color: rgb(229, 229, 229);
}

.bible-word {
    user-select: none;
    display: inline-block;
}

.bible-space {
    user-select: none;
    display: inline-block
}

.selected {
    color: blueviolet;
}

.chapter-button {
    display: block;
    position: fixed;
    width: calc(20px + var(--content-margin) - 10px);
    height: 30vh;
    top: calc(50vh - 15vh);
    padding: 0px;
}

.chapter-button.previous {
    left: 5px;
}

.chapter-button.next {
    right: 5px;
}

.chapter-button img {
    width: calc(100% - 2px);
    aspect-ratio: 1 / 1;
    margin: 0px;
}