.context-menu-popup {
    position: fixed;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 0;
    list-style: none;
    min-width: 150px;
    overflow: hidden;
    border-radius: 5px;
    animation: dropdown 0.2s ease-out;
    margin: 0px;
}

.context-menu-popup li {
    padding: 10px 15px;
    cursor: pointer;
}

.context-menu-popup li:hover {
    background-color: #ddd;
}

  /* Dropdown animation */
@keyframes dropdown {
    from { transform: translateY(-10px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}