@import "./shared/font_sizing.less";

.highlight-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.highlight {
    display: flex;
    align-items: stretch; /* Ensures both the color bar and content stretch to the same height */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
}

.color-bar {
    width: 10px;
    border-radius: 8px 0 0 8px;
    margin-right: 10px;
}

.highlight-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight-content h2 {
    margin: 0;
    font-size: 1.5em;
}

.highlight-content p {
    margin: 5px 0;
}

.highlight-content span {
    font-weight: bold;
}

.same-line {
    flex-direction: row;
}

.edit-highlight-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.edit-highlight-popup .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    min-width: 500px;
    max-height: 70%;
    overflow: auto;
}

.edit-highlight-popup button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    .font-small();
}

.edit-highlight-popup button.no {
    background-color: #d9534f;
    color: white;
}

.edit-highlight-popup button.yes {
    background-color: #5bc0de;
    color: white;
}