@import "./shared/font_sizing.less";
@import "./shared/defs.less";
@import "./shared/slider.less";

.highlight-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: @header-height;
}


.presets-popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: min(40vw, 300px * @ui-scale);
    height: min(40vh, 200px * @ui-scale);
    min-height: fit-content;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    margin-top: calc(30vh + @header-height);
    padding: 15px * @ui-scale;
    .drop-shadow-m();

    p {
        text-align: center;
        .font-medium();
    }

    button {
        cursor: pointer;
        padding: 10px * @ui-scale;
        border: (1px * @ui-scale) solid #ccc;
        border-radius: 4px * @ui-scale;

        margin: @button-margin;
        box-sizing: border-box;
        cursor: pointer;

        background-color: #5bc0de;
        transition: background-color 0.2s ease;
        width: min-content;
        color: white;
        .font-medium();

        &:hover {
            background-color: darken(#5bc0de, 10%)
        }
    }
}

.highlight {
    @hover-resize: 15px;

    display: flex;
    align-items: stretch; /* Ensures both the color bar and content stretch to the same height */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    // transition: padding 0.3s ease, width 0.3s ease, margin-left 0.3s ease;
    transition: 0.3s ease;
    .drop-shadow-m();

    .color-bar {
        width: 10px;
        border-radius: 8px 0 0 8px;
        margin-right: 10px;
    }

    .highlight-content 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        justify-content: center;
        width: 100%;

        .title {
            display: flex;
            box-sizing: border-box;
            width: 100%;
            .title-text {
                padding-bottom: 10px * @ui-scale;
                font-size: calc(@button-size - 2 * @button-margin);
                font-weight: bold;
                flex: 1;
                border-bottom: 1px solid #ccc;
            }

            .image-btn:nth-child(2) {
                margin-left: 10%;
            }
        }

        .highlight-description
        {
            box-sizing: border-box;
            width: 100%;
            text-wrap: wrap;
        }

        span.priority {
            font-weight: bold;
        }

        .highlight-button-container 
        {
            display: flex;
            flex-direction: row;
        }
    }

    &:hover {
        // padding: @hover-resize * 2;
        // width: calc(100% + @hover-resize * 2);
        // margin-left: -@hover-resize;

        transform: scale(1.025);
    }
}

.highlight-editor-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100000;

    .editor-section {
        position: static;
        display: block;
        align-items: center;
        justify-content: center;
        padding: 10px;
        overflow-y: auto;
        transition: width 0.3s ease-in-out;
        white-space: nowrap;
        box-sizing: border-box;
        width: 80%;
        height: 80%;
        background-color: white;
        border-radius: 10px;

        .title-section {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;

            .name-input {
                flex: 1;
                width: 100%;
                height: 100%;
                position: relative;

                input[type=text] {
                    flex: 1;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                    box-sizing: border-box;
                    width: 100%;
                    height: calc(@button-size - @button-margin);
                    padding-left: 5px;
                    padding-right: 5px;;
                    .font-medium();
                }
            }

            input[type=color] {
                cursor: pointer;
            }
        }

        .slider-section {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
            .styled-slider(calc(100% - @button-size - 2 * @button-margin - 10px), 7px * @ui-scale, 7px * @ui-scale);

            .slider-text {
                font-weight: bold;
                .font-small();
            }
        }

        .text-editor {
            // this is REALLY stupid, but it works so hahahahah
            height: calc(100% - 2 * @button-size - 4 * @button-margin - 10px * 2);
        }
    }
}