@import "./shared/font_sizing.less";
@import "./shared/defs.less";
@import "./shared/slider.less";

.highlight-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: @header-height;
}

.highlight {
    display: flex;
    align-items: stretch; /* Ensures both the color bar and content stretch to the same height */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: white;

    .color-bar {
        width: 10px;
        border-radius: 8px 0 0 8px;
        margin-right: 10px;
    }

    .highlight-content 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;

        h2 
        {
            margin: 0;
            font-size: 1.5em;
        }

        .highlight-description
        {
            box-sizing: border-box;
            border: 2px solid #333;
            border-radius: 8px;
            padding: 10px * @ui-scale;
            margin: 5px 0;
            width: 100%;
            text-wrap: wrap;
        }

        span.priority {
            font-weight: bold;
        }

        .highlight-button-container 
        {
            display: flex;
            flex-direction: row;
        }
    }
}

.edit-highlight-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100000;

    .highlight-popup-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        width: 70%;
        height: calc(70% - @header-height);
        overflow: auto;
        background-color: white;

        .title-editor {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            gap: 10px;

            background-color: #333;
            border-radius: 8px 8px 0 0;
            padding: 10px;

            gap: 10px;

            input[type=color] {
                display: flex;
            }

            input[type=text] {
                display: flex;
                margin: 0px;
                box-sizing: border-box;
                .font-medium();
            }

            .priority-slider 
            {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                .styled-slider(200px * @ui-scale, 10px * @ui-scale, 10px * @ui-scale, @min: 1, @max: 10);
            }

            label {
                color: white;
                .font-medium();
            }
        }

        .description {
            display: flex;
            flex-grow: 1;

            textarea, .description-view
            {
                all: unset;
                margin-bottom: 0px;
                margin-top: 0px;
                text-align: left;
                display: block;
                margin: 0px;
                resize: none;
                padding: 10px;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                text-wrap: wrap;
                border-radius: 0px 0px 8px 8px;
                border: 2px solid #333;
                background-color: #fff;
            }
        }

        .confirm-buttons 
        {
            // position: absolute;
            display: block;
            margin-left: auto;
            margin-right: auto;

            // left: 50%;
            // transform: translateX(-50%);

            // bottom: 0px;

            button 
            {
                margin: 10px;
                padding: 10px 20px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            
                .font-medium();
        
                &.no {
                    background-color: #d9534f;
                    color: white;
                }
        
                &.yes {
                    background-color: #5bc0de;
                    color: white;
                }
            }
        }

        
    }
}

.highlight-editor-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100000;

    .editor-section {
        position: static;
        display: block;
        align-items: center;
        justify-content: center;
        padding: 10px;
        overflow-y: auto;
        transition: width 0.3s ease-in-out;
        white-space: nowrap;
        box-sizing: border-box;
        width: 50%;
        height: 75%;
        background-color: white;
        border-radius: 10px;

        .title-section {
            display: flex;
            width: 100%;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 10px;

            input[type=text] {
                flex: 1;
                border-radius: 5px;
                border: 1px solid #ccc;
                .font-medium();
                height: calc(@button-size - @button-margin);
                padding-left: 5px;
                padding-right: 5px;;
            }
        }

        .slider-section {
            width: 100%;
            box-sizing: border-box;
            .styled-slider((100% - @button-size - 2 * @button-margin), 7px * @ui-scale, 7px * @ui-scale);
        }
    }
}