@import (reference) "./styles.less";

header .searchbar {
    display: flex;
    flex-direction: row;
    width: auto;
    height: @button-size;
    width: auto;
    margin: @button-margin;
}

header .searchbar input {
    height: auto;
    margin-right: 5px;
    padding-left: 2px;
}

header .searchbar img {
    height: @button-size;
    aspect-ratio: 1/1;
    margin: 0px;
    padding: 0px;
}

header .searchbar button {
    height: @button-size;
    width: @button-size;
    margin: 0;
    padding: 0;
}

header .searchbar button img {
    height: 90%;
    width: 90%;
    margin: 5%;
}