@import "./shared/defs.less";
@import "./shared/font_sizing.less";
@import "./shared/extern.less";
@import "./shared/slider.less";


@setting-width: 400px * @ui-scale;

@button-blue: #5bc0de;
@button-red: #d9534f;
@button-grey: #aaa;

.setting-color-button(@color)
{
    background-color: @color;

    &:hover {
        background-color: darken(@color, 10%)
    };

    &:active {
        background-color: darken(@color, 20%)
    }
}

.settings
{ 
    margin-top: @header-height + 10px;

    .setting 
    {
        @slider-width: @setting-width - @button-size - 2 * @button-margin - 24px * 5 * @ui-scale;

        margin-right: auto;
        margin-left: auto;

        background-color: white;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        width: @setting-width;

        .rounded-border();
        .drop-shadow-m();

        &.inline {
            display: flex;
            align-items: center;

            h3 {
                margin: 10px;
            }
        }

        h3 
        {
            text-align: center;
            margin: 5px;
        }

        .dropdown
        {
            margin: 5px;
            margin-left: auto;
            border: 1px solid #ccc;
            padding-left: 20px;
            padding-right: 20px;
            .rounded-border();
        }

        .slider-container
        {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            .styled-slider(@slider-width, 7px * @ui-scale, 7px * @ui-scale);

            .value-text 
            {
                margin: 5px;
                width: 2em;
            }
        }
    }
}

.settings-buttons 
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    button {
        margin: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: white;

        .font-small();
        .set-font();
    }

    button.apply-btn {
        .setting-color-button(@button-blue);
    };

    button.cancel-btn {
        .setting-color-button(@button-grey)
    }

    button.reset-btn {
        .setting-color-button(@button-red)
    }
}

.advanced-settings {
    @spacing-px: 20px;
    margin-top: 50px;

    background-color: white;
    border: 1px solid #ccc;
    .rounded-border();
    .drop-shadow-m();
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;

    width: @setting-width;

    justify-content: center;
    align-items: center;

    padding-top: @spacing-px;
    padding-bottom: @spacing-px;

    button {
        .font-medium();
        .set-font();
        width: @setting-width - @spacing-px * 4;
        padding: 5px;

        border: none;
        border-radius: 3px;
        cursor: pointer;
        color: white;

        &:last-child {
            margin-top: @spacing-px;
        }
        box-sizing: border-box;
    }

    button#clear-history {
        .setting-color-button(@button-red);
    }

    button#open-save-path {
        .setting-color-button(@button-grey);
    }

    h3 {
        margin: 0px;
        margin-bottom: @spacing-px;
        padding: 0px;
        .font-large();
    }
}