#left-pane, #right-pane {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
}

#left-pane {
    background-color: #f4f4f4;
    width: 50%;
}

#right-pane {
    background-color: #f4f4f4;
    width: 50%;
}

#resizer {
    width: 5px;
    background-color: #333;
    cursor: col-resize;
    position: relative;
}

#pane-container {
    display: flex;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: 100%;
    position: relative;
}

.collapse-button-container {
    z-index: 500;
    position: fixed;
    top: calc(10px + var(--header-height));
    width: 100vw;
}

.collapse-left-button {
    left: 10px;
}

.collapse-right-button {
    right: 10px;
}

.collapse-right-button, .collapse-left-button {
    position: absolute;
    padding: 5px 10px;
    font-size: 14px;
}

.collapse-button-container .image-btn {
    padding: 1px;
    display: inline-block;
    width: var(--button-size);
    height: var(--button-size);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.collapse-button-container .image-btn img {
    margin: 0;
    width: calc(100%);
    height: calc(100%);
}

.bible-container {
    display: block;
    background-color: white;
    text-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: fit-content;
}

.bible-container .chapter-title {
    text-align: center;
}