.popup-panel {
    position: fixed;
    right: 0;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    overflow: auto;
    width: 250px;
    background-color: rgb(101, 101, 101);
    color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow: auto;
    z-index: 1000;
    min-width: 200px;
    max-width: 500px;
}

.popup-panel.open {
    transform: translateX(0);
}

.popup-panel-content {
    padding: 20px;
}

.resizer {
    position: absolute;
    left: -5px;
    top: 0;
    width: 10px;
    height: 100%;
    cursor: ew-resize;
    z-index: 1002;
    background-color: black;
}

.popup-panel .close-image {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 5px;
}

.popup-panel .panel-title {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.popup-panel .close-image img {
    width: 100%;
    height: 100%;
}

.popup-panel-content .color-square {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.panel-info {
    margin: 0;
    padding: 0;
}

.panel-info .info-title {
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.panel-info .info-title h3 {
    margin: 0;
    padding: 0;
}

.panel-info p {
    margin: 10px 0px 0px 0px;
    padding: 0;
}