.popup-panel {
    position: fixed;
    right: 0;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    overflow: none;
    width: 250px;
    background-color: #f4f4f4;
    color: black;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    min-width: 200px;
    max-width: 500px;
}

.popup-panel.open {
    transform: translateX(0);
}

.popup-panel-content {
    padding: 20px;
}

.resizer {
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
    z-index: 1002;
    background-color: #333;
}

.popup-panel .close-image {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 5px;
}

.popup-panel .panel-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.popup-panel-content .highlight-viewer {
    display: flex;
    align-items: stretch; /* Ensures both the color bar and content stretch to the same height */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    transition: transform 0.3s ease;
}

.popup-panel-content .highlight-viewer:hover {
    transform: scale(1.05);
}

.popup-panel-content .highlight-viewer .color-bar {
    width: 10px;
    border-radius: 8px 0 0 8px;
    margin-right: 10px;
}

.popup-panel-content .highlight-viewer .highlight-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 20px);
}

.popup-panel-content .highlight-viewer .highlight-content .highlight-title {
    margin: 0px;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.popup-panel-content .highlight-viewer .highlight-content p {
    margin: 5px 0;
}

.popup-panel-content .note-viewer {
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    transition: transform 0.3s ease;
}

.popup-panel-content .note-viewer:hover {
    transform: scale(1.05);
}

.popup-panel-content .note-viewer .note-content {
    margin: 5px 0;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.popup-panel-content .note-viewer .reference-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
}

.popup-panel-content .note-viewer .edit-btn {
    float: right;
    padding: 1px;
    display: flex;
    width: var(--button-size);
    height: var(--button-size);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.popup-panel-content .note-viewer .edit-btn img {
    content: url(../images/light-pencil.svg);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}