body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 20px;
}

:root {
    --header-height: 35px;
    --content-margin: 15px;
    --button-margin: calc(var(--header-height) * 0.1);
    --button-size: calc(var(--header-height) - var(--button-margin) * 2);
}

header {
    margin: 0px;
    padding: 0px;
    position: fixed; /* Keeps the header at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: #333;
    z-index: 1000; /* Ensures header is above other content */
    justify-content: left;
    align-items: center;
    display: flex;
}

header .image-btn {
    padding: 1px;
    display: inline-block;
    
    margin: var(--button-margin);
    height: calc(var(--header-height) - var(--button-margin) * 2);
    width: calc(var(--header-height) - var(--button-margin) * 2);

    box-sizing: border-box;
    margin-right: calc(var(--button-margin) / 2);
}

header .image-btn img {
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
    padding: 20px;
}

.content {
    margin-top: var(--header-height);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: var(--content-margin);
    margin-left: var(--content-margin);
}

.content h1 {
    font-size: 24px;
    margin-top: 0;
}
