@import "./shared/defs.less";
@import "./shared/button.less";
@import "./shared/font_sizing.less";

body {
    .set-font();
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    visibility: hidden; /*Displays when everything is loaded*/
    .font-medium();

    button {
        .set-font();
    }

    input[type=text] {
        .set-font();
    }
}

body img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    position: fixed; /* Keeps the header at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: @header-height;
    background-color: #333;
    z-index: 1000; /* Ensures header is above other content */
    justify-content: left;
    align-items: center;
    display: flex;

    .image-btn:not(.dropdown .small-dropdown-content .image-btn) {
        margin: 0px;
    }

    gap: @button-margin * 2;

    // not great, but no idea why :last-child is not working
    .shift-right {
        margin-left: auto;
        margin-right: 10px;

        .small-dropdown-content {
            left: -@button-margin;
        }
    }
}

main {
    padding: 20px;
}

.bible-content {
    margin-top: @header-height;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-right: @content-margin;
    margin-left: @content-margin;
    .drop-shadow-l();
    margin-bottom: calc(100vh - @header-height - 40px);
}

.note-target {
    ul, ol, li p {
        margin-block-end: 0;
        margin-block-start: 0;
    }

    p:has(+ ul) {
        margin-bottom: 0;
    }
}

.bible-content h1 {
    margin-top: 0;
    .font-large();
}

.hidden {
    display: none !important;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    height: @footer-height;
    text-align: center;
    color: white;
    background-color: #333;
    dominant-baseline: middle;
    font-style: italic;
    margin: -20px;
    .font-tiny();
    padding-top: calc(10px - 1em / 2);
}
