@import './extern.less';

.font-tiny {
    font-size: 10px * @text-scale;
}

.font-small {
    font-size: 16px * @text-scale;
}

.font-medium {
    font-size: 20px * @text-scale;
}

.font-large {
    font-size: 24px * @text-scale;
}

.set-font() when (@font-family = 'roman') {
    font-family: 'Times New Roman', Times, serif;
}

.set-font() when (@font-family = 'courier') {
    font-family: 'Courier New', Courier, monospace
}

.set-font() when (@font-family = 'brush') {
    font-family: 'Brush Script MT', cursive;
}

.set-font() when (@font-family = 'default') {
    font-family: Arial, sans-serif;
}